<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript"
        src="http://code.jquery.com/jquery-2.1.4.min.js">
</script>
<script>
    $(document).ready(function() {
        var formObj = $("#board");

        console.log(formObj);

        $("#btnModify").on("click", function() {
            var boardNo = $("#boardNo");
            var boardNoVal = boardNo.val();

            self.location = "getModify?boardNo=" + boardNoVal;
        });

        $("#btnRemove").on("click", function() {
            formObj.attr("action", "remove");
            formObj.submit();
        });

        $("#btnList").on("click", function() {
            self.location = "list";
        });
    });
</script>
<body>
    <h2>Read</h2>

    <form id="board" th:object="${board}" method="POST">
        <input type="hidden" name="boardNo"
               th:field="*{boardNo}"/>

        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" name="title"
                    th:field="*{title}"
                    readonly="readonly"></td>
            </tr>
            <tr>
                <td>Writer</td>
                <td><input type="text" name="writer"
                           th:field="*{writer}"
                           readonly="readonly"></td>
            </tr>
            <tr>
                <td>Content</td>
                <td><textarea name="content"
                           th:field="*{content}"
                           readonly="readonly"/></td>
            </tr>
        </table>
    </form>

    <div>
        <button type="submit" id="btnModify">Modify</button>
        <button type="submit" id="btnRemove">Remove</button>
        <button type="submit" id="btnList">List</button>
    </div>
</body>
</html>